// font-size
$small-font: 13px;
$medium-font: 18px;
$large-font: 20px;

//color
$MainColor: #25397d;
$subColor: #000000;
$backgroundColor: #f0efef;
$whiteColor: #fff;
$redColor: #e03345;
$borderColor: #d7d7d7;
$inputBorderColor: #bdbdbd;
